<mat-card class="card">

  <mat-drawer-container  class="example-container" autosize>

    <mat-drawer #drawer class="example-sidenav" mode="side">

      <button (click)="showFiller = !showFiller" mat-raised-button>
        Exemplo de item
      </button>
    </mat-drawer>

    <div class="teste">
      <h1>Eduardo Rodrigues Ramos</h1>
      <h4>Full Stack Developer</h4>
    </div>

    <div class="example-sidenav-content">
      <img src="https://media.tenor.com/iPKa5SFvaKAAAAAj/touhou-cirno.gif" alt="">

      <button type="button" mat-button (click)="drawer.toggle()">
        Toggle sidenav
      </button>
    </div>
  </mat-drawer-container>
</mat-card>