<mat-drawer-container class="conteudo-pagina" autosize>

  <mat-drawer #drawer class="menu-lateral" mode="side">
    <h3 class="conteudo-menu-lateral">Antedeguemon</h3>
  </mat-drawer>

  <div class="navegacao-icone">
    <input type="checkbox" (click)="drawer.toggle()" />
    <svg>
      <use xlink:href="#menu" />
      <use xlink:href="#menu" />
    </svg>
  </div>


  <div class="titulo">
    <h1 class="roboto">Eduardo Ramos</h1>
    <h4 class="roboto">Fullstack Developer</h4>
  </div>

  <div style="background-color: wheat;">
    <div class="carousel-container">
      <ngx-slick-carousel class="carousel" [config]="slideConfig" #slickModal="slick-carousel">
        <div class="slide" ngxSlickItem *ngFor="let exemplo of images">
          <img class="tratamento-imagem-icone" [src]="exemplo">
        </div>
      </ngx-slick-carousel>
    </div>
  </div>

  <mat-card class="card">

    <mat-grid-list cols="1" rowHeight="30px">
      <mat-grid-tile style="background-color: lime;" [colspan]="1" [rowspan]="1">
        <div class="icone-container">
          <h5> >ICONES< </h5>
        </div>
      </mat-grid-tile>
    </mat-grid-list>

    <mat-grid-list cols="1" rowHeight="30px">

      <mat-grid-tile style="background-color: lime;" [colspan]="1" [rowspan]="1">


      </mat-grid-tile>
    </mat-grid-list>

    <mat-grid-list cols="7" rowHeight="500px">
      <mat-grid-tile style="background-color: blue;" [colspan]="5" [rowspan]="1">
        <h3 class="roboto">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
          laudantium, totam rem
          aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
          Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni
          dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit
          amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam
          aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit
          laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea
          voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla
          pariatur?</h3>
      </mat-grid-tile>

      <mat-grid-tile class="alinhamento-repos" style="background-color: red;" [colspan]="2" [rowspan]="1">
        <div>
          <h5 class="roboto"> >EXEMPLO DE REPO 1< </h5>
              <h5 class="roboto"> >EXEMPLO DE REPO 2< </h5>
                  <h5 class="roboto"> >EXEMPLO DE REPO 3< </h5>
        </div>
      </mat-grid-tile>

    </mat-grid-list>

  </mat-card>


  <footer style="height: 20px; text-align: center;" class="poppins-thin">
    <h6>MADE WITH ❤️ BY EDUARDO R. RAMOS</h6>
  </footer>
</mat-drawer-container>

<!-- SVG -->
<svg xmlns="http://www.w3.org/2000/svg" style="display: none">
  <symbol xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 56" id="menu">
    <path d="M48.33,45.6H18a14.17,14.17,0,0,1,0-28.34H78.86a17.37,17.37,0,0,1,0,34.74H42.33l-21-21.26L47.75,4" />
  </symbol>
</svg>